.advantages {
    margin: 24px 0;
}

.advantages .container {
    max-width: 1200px;
    margin: 0 auto;
}

.advantages__list {
    display: grid;
    grid-template-columns: repeat(3, calc(33.333% - 16px));
    grid-gap: 24px;
}

.index-advatages__item {
    position: relative;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.index-advatages__item:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #cacaca;
    border-radius: 24px;
    transition: all .2s ease-in;
    transform: scale(1);
}

.index-advatages__item:hover.index-advatages__item:before {
    transform: scale(1.05);
    transition: all .2s ease-in;
}

.advatages__item__title {
    margin: 0 0 12px 0;
    font-size: 22px;
    text-align: center;
    display: block;
}

.advatages__item__description {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    .advantages__list {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 8px));
        grid-gap: 16px;
    }
}