.wrapper {
  color: var(--text);
  background-color: var(--back_blue);
}

.block {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
  gap: 10px;

  &_link {
    color: var(--text);
    transition: var(--transition);

    &:hover {
      color: var(--blue);
    }
  }
}

.text {
  color: var(--text);
}

.contacts {
  &_phone {
    color: var(--text);
    transition: var(--transition);

    &:hover {
      color: var(--blue);
    }
  }
}