.tabs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 0;
}

.tabs__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.tabs__buttons button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: #cacaca;
    color: #fff;
    cursor: pointer;
}
.tabs__buttons button.active {
    background-color: rgb(113, 136, 212);
}

.tabs__content {
    margin: 24px 0;
    padding: 24px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, .05);
}