/* COLORS */
$primary_dark: #212121;
$primary_blue: #7188d4;

$dark: $primary_dark;
$text: lighten($primary_dark, 4.7%);
$grey: lighten($primary_dark, 46%);
$light: lighten($primary_dark, 100%);
$lite_blue: #e1e8ff;
$blue: $primary_blue;

/* transition */
$transition: 0.3s ease;

/* SIZES */
$max_width: 1440px;