/* COLORS */
$dark: rgba(40, 44, 52, 1.0);
$text: rgba(45, 45, 45, 1.0);
$grey: rgba(150, 150, 150, 1.0);
$light: rgba(255, 255, 255, 0.87);
$lite_pink: rgba(225, 232, 255, 1.0);
$blue: rgba(113, 136, 212, 1.0);

$transition: 0.3s ease;

/* SIZES */
$max_width: 1440px;
