@import './variabels';
@import './libs/reset';
@import './libs/normalize';

@import './layouts/footer.scss';
@import './layouts/banner.scss';

.container {
  max-width: $max_width;
  width: 100%;
  margin: 0 auto;
}

.page-title {
  padding: 1rem 0;
}