@use './libs/reset';
@use './variabels';
@use './libs/normalize';

@use './layouts/footer.scss';
@use './layouts/banner.scss';

.container {
  max-width: var(--max_width);
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page-title {
  padding: 1rem 0;
}