.item {
  flex: 1 1 400px;
  border: 1px solid grey;
  border-radius: 10px;
}
.info {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
.image {
  height: 400px;
  background: #000000 no-repeat center center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title {
  font-size: 30px;
}
.price {
  font-size: 30px;
}
.button {
  margin-top: 20px;
  padding: 10px;
  background-color: #cccccc97;
  color: #000000;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ccc;
  }
}